[tron]
tronHost = tron
tronCmdrPort = 6093

[drp]
updateInterval = 60
datadir = $ICS_MHS_DATA_ROOT/drp

# Which interface/address we should _listen_ on. 'localhost' does not open security holes!
interface = 10.2.0.2
# Which port do we listen for connections from tron on? This needs to match the one in tron's config/hub.py 
port = 9979
hostAndPortForTron = jupyter:9979

[logging]
logdir = $ICS_MHS_LOGS_ROOT/actors/drp
baseLevel = 20
cmdLevel = 20
dispatchLevel = 30
consoleLevel = 20

